<h1>Welcome to How Many Shares?</h1>

<p>
    
    The How Many Shares webapp aims to provide the number of shares of a stock you can buy for a set amount of money in real time.
    
</p>


<p>
    
    LEGAL DISCLAIMER - How Many Shares does not offer investment advice or.......
    
</p>