<head>
    
    <head>
        
        <link rel="stylesheet" href="app/assets/stylesheets/application.css" type="text/css" />
    </head>
    
</head>

<body>

<h1>Welcome to How Many Shares?</h1>

<br>

<div>
    <p>
    
    The How Many Shares webapp aims to provide the number of shares of a stock you can buy for a set amount of money in real time.
    
    </p>
</div>

<br>

<div>
    <p style="color: red;">
    
    LEGAL DISCLAIMER - How Many Shares does not offer investment advice or.......
    
    </p>
</div>

<br>

<footer>
    
    <p>[Copyright FML 2017]</p>
    <P>for more information contact: EMAIL</P>
    
</footer>

</body>


